@font-face {
  font-family: "ChristmasCardFont";
  src: url("/assets/fonts/chrici__-webfont.woff") format("woff");
}

body {
  background: #141414;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  cursor: url("/assets/Cursor.png"), auto;
  color: #ff7c7c;
}
a:hover {
  text-decoration: underline;
}

.red {
  color: #ff7c7c;
}

.light {
  color: #c3e4e4;
}

.controlButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 14px;
  width: 48px;
  z-index: 100;
}

.controlButton:hover {
  cursor: url("/assets/Cursor.png"), auto;
}

.main {
  width: 100%;
  min-height: 99vh;

  /* border: 20px solid transparent; */
  box-sizing: border-box;
  padding: 20px 20px 100px 20px;
  /* border-image: url('/assets/krampus-border.png') 20 round; */
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  color: #666666;
  text-align: center;
  font-size: 1.5rem;

  background-size: auto 30%;
  background-repeat: repeat-x;
  background-position: right 0px bottom -100px;

  background-image: url("/assets/DarkTown.png");
}

.flashDark {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  /* background-color: #222222 ; */
  animation: flash 5s linear infinite;
  /* background-size: 60%;
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url("/assets/DarkTown.png"); */
}
.flashDark img {
  bottom: 0;
}

@keyframes flash {
  0%,
  83%,
  91%,
  96%,
  97% {
    background-color: transparent;
    opacity: 0;
  }
  84%,
  90%,
  93%,
  95%,
  98%,
  100% {
    background-color: #222222;
    opacity: 1;
  }
}

.krampusImg {
  position: relative;
  z-index: -50;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links {
  font-family: inherit;
  text-align: center;
  padding: 10px 20px;
  max-width: 30rem;
  margin: auto;
}

.mainButton {
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  /* border-radius: 0.5em; */
  box-sizing: border-box;
}

/* .fireHover {
  position: absolute;
  top: 0;
  back
} */

.mainButton:hover {
  border-color: #ff7c7c;
  cursor: url("/assets/Cursor.png"), auto;
  position: relative;
  color: #ff7c7c;
  background-color: #141414;
  text-decoration: none !important;
  background-size: 300% 100%;

  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.instagram {
  /* background-color: #88202d; */
  background-image: linear-gradient(
    to right,
    #29323c,
    #222222,
    #1d1d1d,
    #353535
  );
  box-shadow: 0 4px 15px 0 rgba(202, 110, 83, 0.75);
}

.facebook {
  background-color: #205688;
}
#fire1 {
  display: none;
}
#fire2 {
  display: none;
}
.mainButton:hover #fire1 {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  margin: auto;
  top: -90px;
  left: 0;
  right: 0;
  z-index: -10;
}
.mainButton:hover #fire2 {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  margin: auto;
  top: -90px;
  left: 0;
  right: 0;
  z-index: -1;
}
/* .mainButton:hover:after {
  content: "";
  background-image: url(/assets/fire_01.png);
  background-size: 100px;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: -100px;
  z-index: -10;
} */

.flex {
  display: flex;
  max-width: 100%;
  margin: auto;
  justify-content: center;
}

.content {
  position: relative;
  z-index: 50;
  padding-top: 5%;
  width: 100%;
}

.subtitle {
  font-family: "ChristmasCardFont", Times, serif;
  font-weight: 300;
  letter-spacing: 0.1em;

  /* text-shadow: 0px 2px 2px #1a1a1a; */
}

.title1 {
  font-family: "ChristmasCardFont", Times, serif;
  font-weight: 300;
  margin-top: -1rem;
  font-size: 8rem;
  position: relative;
  z-index: inherit;
  line-height: 0.5rem;
  color: #ffffff;
  text-shadow: 0px 2px 2px #1a1a1a;
}
.title2 {
  font-family: "ChristmasCardFont", Times, serif;
  font-weight: 300;
  position: relative;
  margin-top: -1.25rem;
  padding-bottom: 2rem;
  z-index: 45;
  font-size: 7rem;
  line-height: 0.5rem;

  text-shadow: 0px 2px 2px #1a1a1a;
}

.poemSection {
  /* border: 2px solid #3c7a72; */
  padding: 0px 80px;
}

.poem {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.handDrawn {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}
@media only screen and (max-width: 768px) {
  .main {
    background-size: auto 18%;
    background-repeat: repeat-x;
    background-position: right 0px bottom -50px;
  }
  .subtitle {
    letter-spacing: 0.1em;
    color: #c3e4e4;
    font-size: 1rem;
    /* text-shadow: 0px 2px 2px #1a1a1a; */
  }

  .title1 {
    margin-top: -0.5rem;
    font-size: 5rem;
    line-height: 0.5rem;
  }
  .title2 {
    margin-top: -1.25rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    line-height: 0.5rem;
  }
  .flex {
    flex-direction: column;
  }
  .poemSection {
    padding: 0px 20px;
  }
  .poem {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    line-height: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    color: #c3e4e4;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.main::before {
  content: "";
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1295275/background-noise.png'); */
  background: url("/assets/paper002_transparent.png");
  background-blend-mode: normal;

  opacity: 0.15;
  animation: 3s step-end infinite noise;
  pointer-events: none;
}
@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

.snow {
  background: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* @keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  } */
